body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #565656;

}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 20px;
    scroll-behavior: smooth;
    height: 100%;
}

h1 {
    color: #333;
}

.movie img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie-title {
    margin-top: 5px;
    font-weight: bold;
}

.movies-grid {
    display: grid;
    grid-gap: 20px;
    justify-items: center;
}

.movie {
    width: 200px;
    display: inline-block;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: calc(100% - 20px);
    margin: 0;
    transition-duration: 250ms;
}

.movie:hover {
    box-shadow: 0px 0px 15px white;
    transition-duration: 250ms;
}

.movie-watchlisted {
    box-shadow: 0px 0px 10px rgb(0, 182, 67);
    transition-duration: 250ms;
}

.movie img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie-title {
    margin-top: 5px;
    font-weight: bold;
}

.navbar-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    z-index: 1000;
    display: flex;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    margin: 0;
    font-size: 24px;
    float: left;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.nav-links li a:hover {
    color: #ffd700;
}

/*
Pseudoelement Idea was awesome:
https://stackoverflow.com/a/77796790 */
[movie-tooltip]:hover::after {
    display: block;
    position: absolute;
    content: attr(movie-tooltip);
    border: 1px solid black;
    background: #eee;
    padding: .25em;
}

@media (min-width: 1200px) {
    .movies-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1199px) {
    .movies-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .movies-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .movies-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}